@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto-serif";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-flex-v26-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

.root {
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-lightgrey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

/*Base*/
body {
  color: #011c44;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

.main-title {
  color: #2b7fff;
  font-weight: 700;
  font-size: 140px;
  font-family: "Play", sans-serif;
  text-align: left;
  text-transform: capitalize;
  line-height: 0.8;
}

.little-main-title {
  color: #011c44;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.free-consultation {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.primary-title {
  color: #000000;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.section-title {
  color: #011c44;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
}

.second-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}

.accent2 {
  color: #2b7fff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}

.dark-accent {
  color: #011c44;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.advantages-item {
  color: #011c44;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.advantages-list {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.accent {
  color: #2b7fff;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

/*Button*/
.button {
  color: #011c44;
  border: 2px solid #2b7fff;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border-radius: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.button:hover {
  color: #ffffff;
  border-color: #2b7fff;
  background-color: #2b7fff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 32px;
  line-height: 1.2;
}

/*Header-link*/
.header-link {
  color: #011c44;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

.header-link:hover {
  color: #2b7fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

.link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  line-height: 1.2;
}

.link:hover {
  color: #2b7fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.2;
}

.adress-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.adress-link:hover {
  color: #2b7fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

.adress-copyright {
  color: #747272;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}
